{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block main %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section>
        <h3>{% trans from 'security' %}Login{% endtrans %}</h3>

        <p class="d-flex justify-content-center align-items-center">{% trans from 'security' %}Not yet registered?{% endtrans %}
            <span>
                <a href="{{ path('app_register') }}" class="btn btn-primary mt-0 ms-5">
                    <span>{% trans from 'security' %}Create an account{% endtrans %}</span>
                </a>
            </span>
        </p>

        <form method="post">

            {% if app.user %}
                <div class="mb-3 alert alert-danger">
                    {% trans from 'security' %}You are logged in as{% endtrans %} {{ app.user.username }}
                    <a href="{{ path('app_logout') }}"
                       class="btn btn-lg btn-danger ms-5">{% trans from 'security' %}Logout{% endtrans %}</a>
                </div>

            {% else %}

                <div class="formulaire">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" required autofocus>
                </div>

                <div class="formulaire">
                    <label for="inputPassword">{% trans from 'security' %}Password{% endtrans %}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}



                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <button class="btn btn-lg btn-primary" type="submit">
                    {% trans from 'security' %}Login{% endtrans %}
                </button>

            {% endif %}

        </form>

    </section>

{% endblock %}
