{% extends 'base.html.twig' %}

{% block title %}Baby Boom{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main %}

    <section>
        <h3>{% trans from 'security' %}Registration form{% endtrans %}</h3>

        {{ form_start(registrationForm) }}

        <div class="formulaire">
            <label for="registration_form_parent1Name">{% trans from 'parents' %}First Parent Name{% endtrans %} </label>
            {{ form_widget(registrationForm.parent1Name, {attr: {value : userInfos.parent1Name}}) }}
        </div>

        <div class="formulaire">
            <label for="registration_form_parent2Name">{% trans from 'parents' %}Second Parent Name{% endtrans %} </label>
            {{ form_widget(registrationForm.parent2Name, {attr: {value : userInfos.parent2Name}}) }}
        </div>

        <div class="formulaire">
            <label for="registration_form_tel">{% trans from 'parents' %}Mobile{% endtrans %} </label>
            {{ form_widget(registrationForm.tel, {attr: {value : userInfos.tel}}) }}
        </div>

        <div class="formulaire">
            <label for="registration_form_postalCode">{% trans from 'parents' %}Postal Code{% endtrans %} </label>
            {{ form_widget(registrationForm.postalCode, {attr: {value : userInfos.postalCode}}) }}
        </div>

        <div class="formulaire">
            <label for="registration_form_shareCode">{% trans from 'parents' %}Share Code{% endtrans %} </label>
            {{ form_widget(registrationForm.shareCode, {attr: {value : userInfos.shareCode}}) }}
        </div>

        <div class="formulaire">
            {# {{ form_label(registrationForm.email, 'Email ', { 'label_attr': {'class': 'red_star'} }) }} #}
            <label for="registration_form_email"
                   class="red_star">{% trans from 'security' %}Email{% endtrans %} </label>
            {{ form_widget(registrationForm.email) }}
        </div>

        <div class="formulaire">
            {# {{ form_label(registrationForm.plainPassword, 'Mot de passe ', { 'label_attr': {'class': 'red_star'} }) }} #}
            <label for="registration_form_plainPassword"
                   class="red_star">{% trans from 'security' %}Password{% endtrans %} </label>
            {{ form_widget(registrationForm.plainPassword) }}
        </div>

        <div class="formulaire group_checkbox invisible">
            {# {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions générales de vente ', { 'label_attr': {'class': 'red_star'} } ) }} #}
            <label for="registration_form_agreeTerms"
                   class="red_star">{% trans from 'security' %}I accept the general conditions{% endtrans %} </label>
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'checkbox', 'checked': 'checked'} }) }}
        </div>

        {% if not registrationForm.vars.valid %}
            <div class="alert alert-danger">
                {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
                {% if formErrors|length %}
                    <ul>
                        {% for error in formErrors %}
                            <li>{{ error.message|trans({},'security') }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">ENVOYER</button>
        {{ form_end(registrationForm) }}

    </section>

{% endblock %}
