<nav>
    <ul>
        <li>
            <a href="{{ path('index') }}">
                <img src="{{ asset('images/logo.png') }}" alt="logo"/>
            </a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('my_account') }}">
                    <i class="far fa-share-square"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('my_account') }}">
                    <i class="fas fa-user-alt"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>